/* Fuente decorativa */
@font-face {
    font-family: 'BillionDreams';
    src: url('../../fonts/BillionDreams_PERSONAL.ttf') format('truetype');
}

body {
    /*background-image: url("https://raw.githubusercontent.com/LuaWaveAPI/LuaWave/main/frontend/src/img/FondoStaff.jpg"); */
    background-image: url("https://raw.githubusercontent.com/LuaWaveAPI/LuaWave/main/frontend/src/img/chicaSkater.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}


.textoBlack {
    color: black;
}


@media (min-width: 585px) {
    .navegador{
        height: 6.6%;
    }
}

.centrarFormulario {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}


.contact {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    row-gap: 20px;
    margin-top: 5%;
    background-color: rgba(199,212,217, 0.8);
    width: 50vw;
    height: 50vh;
}

.texto {
    text-align: center;
    margin-top: 30px;
    margin-left: 230px;
    /*text-shadow: black 0.1em 0.1em 0.2em; */
    color: white;
}

input {
    width: 350px;
    height: 22px;
}

.size {
    width: 355px;
    height: 35px; 
}

button {
    font-size: medium;
    color: white;
    background-color: rgba(0,0,0, 1);
}

button:hover {
    color: white;
    cursor: pointer;
}

