/* Fuente decorativa */
@font-face {
    font-family: 'BillionDreams';
    src: url('../../fonts/BillionDreams_PERSONAL.ttf') format('truetype');
}

.navegador {
    position: fixed; 
    min-width: 100%;
    font-family: "BillionDreams";
    z-index: 1;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
    align-items: center;
    /*
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: 1fr;
    justify-items: center;
    align-items: center;
    align-content: center;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    */
    font-size: xx-large;
    text-decoration: none;
    text-shadow: black 0.1em 0.1em 0.2em;
    color: white;
    background-color: #C7D4D9;
    opacity: 20%;
}

a:-webkit-any-link {
    color: white;
    cursor: pointer;
    text-decoration: none;
}

a:hover {
    color: dodgerblue;
    cursor: pointer;
}

.textoBlack {
    color: black;
}

.marginPanel {
    margin-top: 90px;
}

@media (min-width: 585px) {
    .navegador{
        height: 6.6%;
    }
  }

