
/*
  @font-face {
    font-family: 'BillionDreams';
    src: url('../fonts/BillionDreams_PERSONAL.ttf') format('truetype');
}*/


/* Main fondo */
.mainDividido {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    height: 86.8vh; 
    background-image: url("https://raw.githubusercontent.com/LuaWaveAPI/LuaWave/main/frontend/src/img/FondoCarrito1.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.articulos {
  width: 105%;
  min-width: 400px;
  height: 86.8vh;
  overflow: scroll;
}

@media (max-width: 455px) {
  .mainDividido{
    margin-top: 135px;
  }
}

