.panel {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1.2fr 8fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    width: 100%;
    height: 86.8vh; 
    background-image: url("https://raw.githubusercontent.com/LuaWaveAPI/LuaWave/main/frontend/src/img/FondoStaff.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    opacity: 10%;
    z-index: 3;
}
