.divIzquierda {
    background-color: black;
    width: 100%;
    height: 86.8vh;

}

.formulario {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 2fr 0.5fr 2fr;
    align-items: center;
    justify-content: space-between;
    row-gap: 20px;
    color: white;
    background-color: black;
    padding-top: 30px;
    border: none;
}

.buttonBlue {
    text-align: center;
    cursor: pointer;
    font-family: "BillionDreams";
    font-weight: lighter;
    font-size: 2em;
    color: black;
    background-color: dodgerblue;
    text-decoration: none;
    min-width: 350px;
    width: 75%;
    height: 4vh;
    border: none;
}

button:hover {
    color: black;
    cursor: pointer;
}

.centrarBoton {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.fuente {
    font-family: "BillionDreams";
    font-size: 1.5em;
}

.cuadrarFormulario {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-around;
    margin-left: 10px;
}

.maps {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-left: 5px;
}

.icono {
   
    width: 65px;
    height: 65px; 
}