body {
    margin: 0px;
    display: grid;
    grid-template-rows: 1fr 11.5fr 1fr;
    width: 100%;
    
}

img {
    width: 100%;
    height: auto;
  

}

.divCarrusel {
  position: absolute;
 
}




