/* Fuente decorativa */
@font-face {
    font-family: 'BillionDreams';
    src: url('../../fonts/BillionDreams_PERSONAL.ttf') format('truetype');
}


.carrito {
    font-family: "BillionDreams";
    margin-top: 35px;
    text-align: center;
}

.colorWhite {
    color: white;
    opacity: 30%;
}

.divIzquierda {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 10px;
}

@media (max-width: 455px) {
    .carrito{
      margin-left: 70px;
      width: 40%;
    }
  }
  