.contact {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1.2fr 8fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    height: 86.8vh; 
    background-image: url("https://raw.githubusercontent.com/LuaWaveAPI/LuaWave/main/frontend/src/img/fondocontacto.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.texto {
    margin-top: 30px;
    /*text-shadow: black 0.1em 0.1em 0.2em; */
    color: white;
}

h1:hover {
    color: dodgerblue;
    cursor: pointer;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 15px;
}

input {
    width: 350px;
    height: 22px;
}

textarea {
    width: 350px;
}

button {
    font-size: medium;
    color: white;
    background-color: black;
}

button:hover {
    color: white;
    cursor: pointer;
}

.size {
    width: 355px;
    height: 35px;
}

@media (max-width: 455px) {
    .contact{
      margin-top: 135px;
    }
  }