/* Fuente decorativa */
@font-face {
    font-family: 'BillionDreams';
    src: url('../../fonts/BillionDreams_PERSONAL.ttf') format('truetype');
}

.elFooter {
    min-width: 100%;
    width: 100%;
    position: absolute; 
    z-index: 1; 
    font-family: "BillionDreams";
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    color: white;
    background-color: #C7D4D9;

    /*
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    align-items: center;
    justify-items: center;
    align-content: space-evenly;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    */
}

.iconos {
    width: 65px;
    height: 65px; 
}

/*
@media (min-width: 510px) {
    .elFooter{
    
    
    }
}
*/

.panelAd {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-end;
    margin-right: 20px;
    font-family: "BillionDreams";
    font-size: 1.5em;
    color: white;
    opacity: 15%;
    padding-left: 10px;
}

