.imagen {
    width: 100px;
    height: 50px;
}

.main{
 display: flex;
 background-image: url("https://raw.githubusercontent.com/LuaWaveAPI/LuaWave/main/frontend/src/img/rectanguloFondo.png");
}


.test {
    display: flex;
    background-color: aqua;
}