.imagen {
    margin-top: 10px;
    margin-right: 20px;
    margin-left: 30px;
    max-width: 70%;
}

.main {
    min-width: 300px;
    max-width: 400px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    background-image: url("https://raw.githubusercontent.com/LuaWaveAPI/LuaWave/main/frontend/src/img/rectanguloFondo.png");
}

