/* Body Carrusel */


/* Fuente decorativa */
@font-face {
  font-family: 'BillionDreams';
  src: url('./fonts/BillionDreams_PERSONAL.ttf') format('truetype');
}

.estructura {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.60fr 7.9fr 0.60fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  width: 100%;
  min-height: 100vh;
}

/* Alert personalizados */

.alert{
  position: fixed;
  justify-self: end;
  opacity: 0.9;
  right: 0px;
}

.alertText{
  border: solid rgb(182, 212, 254) 1px; 
  background-color: rgb(207, 226, 255);
  color: rgb(50, 39, 110);
  padding: 20px;
  margin-right: 20px;
  font-size: 1.2em;
  font-weight: normal;
  font-style: italic;
}








