/* Body Carrusel */


/* Fuente decorativa */
@font-face {
  font-family: 'BillionDreams';
  src: url('./fonts/BillionDreams_PERSONAL.ttf') format('truetype');
}

.estructura {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.60fr 7.9fr 0.60fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  width: 100%;
  min-height: 100vh;
}










